body {
  font-family: monospace;
  background: #111;
  color: #00ffcc;
  text-align: center;
  padding: 20px;
}

#letters button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

pre {
  font-size: 18px;
}
